<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>communityHero</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="main_page_bg">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav app_name" href="#"><span style="color: #444">community</span><span style="color: #607d8b">Hero</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" class="btn btn-default btn-lg new_request_button">Submit new request</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container content_frame">
        <div class="main_content">
            <div class="rows_frame">
            <!-- First row -->
                <div class="text-center location">Subang Jaya</div>
                <div class="text-center view_type">List | Map</div>

                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>52
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_1"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">Illegal rubbish near SS16/1, behind Carrefour</div>
                        <div class="issue_description">A lot of nearby residents have been dumping their rubbish here, probably due to lack of rubbish bins. Please take action!</div>
                        <div class="issue_status in_progress">In progress</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>46
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_2"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">Flooding near SS12, near the playground in the taman</div>
                        <div class="issue_description">This road floods every time it rains in my taman. I think we need better drainage system here.</div>
                        <div class="issue_status in_progress">In progress</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>37
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_3"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">Uncollected rubbish near SS16/1, behind Carrefour</div>
                        <div class="issue_description">A lot of nearby residents have been dumping their rubbish here, probably due to lack of rubbish bins. Please take action!</div>
                        <div class="issue_status in_progress">In progress</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>28
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_4"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">A developer has dumped a lot of plasterboard and rubbish in SS12</div>
                        <div class="issue_description">Rubbish dumped evening of June 1/ early morning June 2. It is on the left side of the road heading to SJMC.</div>
                        <div class="issue_status open">Open</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>42
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_5"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">Pothole on road on SS 14/3</div>
                        <div class="issue_description">My car tires.... Ouchh!!!</div>
                        <div class="issue_status closed">Closed</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-1 vote_panel">
                        <div>
                            <i class="fa fa-frown-o fa-2x"></i>
                        </div>
                        <div>34
                        </div>
                    </div>
                    <div class="col-xs-2 issue issue_6"></div>
                    <div class="col-xs-9 issue_box">
                        <div class="issue_title">Street lamp broken, USJ 1/4, near Subang Taipan</div>
                        <div class="issue_description">Tumbang yesterday night after thunderstorm.</div>
                        <div class="issue_status closed">Closed</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix bottom_space"></div>

    <!-- Footer -->
    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer> -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
